

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
</head>

<body>

<h1>vue</h1>

<div id="app">
  
  <ul>
    <li v-for="message in log">
      {{ message }}
    </li>
  </ul>
  
  <form v-on:submit="submit">
    <input type="text" v-model="message">
    <input type="submit">
  </form>
  
</div>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://unpkg.com/vue"></script>

<script>

var socket = io()

var app = new Vue({
  el: '#app',
  data: {
    log: [],
    message: ''
  },
  methods:{
    submit: function (event) {
      event.preventDefault()
      this.log.push(this.message)
      this.message = ""
      socket.emit('chat message', this.message)
    }
  }
})

socket.on('chat message', function(msg){
  app.log.push(msg)
})

</script>

</body>
</html>
